## Practice Scenario with Excel Sheet ##

Practice Problem: Analyzing Restaurant Sales Trends from Raw Data
Scenario:
You’ve received raw sales data from a third-party vendor tracking credit card transactions at multiple restaurant locations (e.g., McDonald’s and Chipotle). Your goal is to clean the data, perform ETL (Extract, Transform, Load), and draw insights for a stakeholder dashboard.

Excel Columns in restaurant_sales.xlsx:

Transaction ID

Date

Restaurant Name

Location

Sales Amount

Customer ID (optional)

Category (e.g., "Drive-Thru", "Dine-In", "Delivery", may be missing or mislabeled)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
## Part 1: Load Excel File

df = pd.read_excel("restaurant_sales.xlsx")
print("Initial Data Overview: ")
print(df.head())
print("\\nMissing Values\n", df.isnull().sum())

Initial Data Overview:
                         Transaction ID       Date Restaurant Name  \
0  1973ec33-4711-4407-aebc-37416e08bf2e 2025-05-14      McDonald's
1  40d50788-aaaa-487b-adee-1a85415a399c 2025-05-14      McDonald's
2  43b35c1e-3890-4d6d-b638-6a73b9925f33 2025-05-14       Taco Bell
3  bbe7ebd5-e202-43d7-bed0-07d86f43fdde 2025-05-14        Chipotle
4  1c6756b7-9a45-4a80-8d71-938e1f747d18 2025-05-14        Chipotle

      Location  Sales Amount                           Customer ID  Category
0  Chicago, IL         39.70  d0e0a1da-ea35-4b9c-957b-4d203ee75191   Dine-in
1  Chicago, IL         14.49  31bc8b27-fa11-4c09-a590-634022d3e9f7  Delivery
2  Phoenix, AZ         32.81  2fd903a1-acba-4889-8148-4e305b983943  Deliveri
3  Phoenix, AZ           NaN  46613251-896d-4ae4-bdf2-b75ecd017f03       NaN
4  Houston, TX         29.55                                   NaN  Deliveri
\nMissing Values
 Transaction ID       0
Date                 0
Restaurant Name      0
Location             0
Sales Amount        46
Customer ID         93
Category           131
dtype: int64